<div class="row">
  <div class="content-header">
    <h1>Contas bancárias <small>Gerenciamento de contas</small></h1>
    <div class="grey-text">
      <small>
        <a href="">iFinance</a> >
        <span>Suas contas</span>
      </small>
    </div>
  </div>

  <div class="card col s12">
    <div class="card-content">
      <table class="highlight">
        <thead>
          <tr>
            <th>contas</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts.children" [routerLink]="['/accounts/' + account.id]">
            <td>
              {{ account.id }}
              <small>Codigo: {{ account.sku }} / Nome: {{ account.title }} / Preço: {{ account.price }}</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-action">
      <a [routerLink]="['/accounts/new']">Nova conta</a>
    </div>
  </div>
</div>

<paginate></paginate>
